html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 132, 132);
}

body,
input {
  font-family: Arial, Helvetica, sans-serif;
}

.todoTitle {
  background-color: white;
  padding: 5px 25px;
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 0 3px 3px rgba(214, 214, 214, 0.5);
  text-align: center;
  text-transform: uppercase;
  color: rgb(238, 132, 132);
}

.todoContainer {
  background-color: white;
  padding: 25px;
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 0 3px 3px rgba(214, 214, 214, 0.5);
}

.todoForm {
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
}

.todoForm.edit {
  align-items: center;
  font-size: 18px;
  color: rgb(54, 54, 54);
  margin: 10px auto;
}

.todoForm.edit p::first-letter{
  text-transform: capitalize;
}

.formEdit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoButtons {
  width: 20%;
  display: flex;
  gap: 5px;
}

.todoButtons .todoEdit {
  width: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 7px;
  border: 2px solid rgb(253, 197, 76);
  color: rgb(253, 197, 76);
  font-size: 18px;
  background-color: rgba(253, 197, 76, 0.3);
  transition: all 0.3s;
}

.todoButtons .todoEdit:hover {
  background-color: rgba(253, 197, 76, 0.5);
}

.todoButtons .todoDelete {
  width: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 7px;
  border: 2px solid rgb(247, 89, 89);
  color: rgb(247, 89, 89);
  font-size: 18px;
  background-color: rgba(247, 89, 89, 0.3);
  transition: all 0.3s;
}

.todoButtons .todoDelete:hover {
  background-color: rgba(247, 89, 89, 0.5);
}

.todoInput {
  width: 80%;
  padding: 7px;
  border: 2px solid rgb(165, 164, 164);
  border-radius: 5px;
  transition: all 0.3s;
}

.todoInput:hover {
  border: 2px solid rgb(112, 111, 111);
}

.todoInput:focus,
.todoInput:active {
  outline: none;
}

.todoInput.edit{
  width: 75%;
}

.todoButton {
  width: 15%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid rgb(72, 72, 211);
  color: rgb(72, 72, 211);
  font-size: 20px;
  background-color: rgba(72, 72, 211, 0.3);
  transition: all 0.3s;
}

.todoButton:hover {
  background-color: rgba(72, 72, 211, 0.5);
}

.todoList {
  overflow-x: hidden;
  max-height: 150px;
}

.todoEmpty {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 60px;
  color: rgb(238, 132, 132);
  margin-top: 20px;
}

.todoEmpty span {
  font-size: 20px;
}

hr {
  width: 15%;
  border: 2px solid rgb(238, 132, 132);
  border-radius: 25px;
}
 .todoButton:disabled{
  border: 2px solid rgb(165, 164, 164);
  color: rgb(165, 164, 164);
  font-size: 20px;
  background-color: white;
  cursor: default;
 }

 .todoButton:hover:disabled{
  background-color: white;
 }
